~/.node-red/flows_ojas-HP-Pavilion-Notebook.json
[{"id":"61668a27.61df04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8074c30b.d5167","type":"http in","z":"61668a27.61df04","name":"test-api","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":180,"y":240,"wires":[["be2bf5ee.6798c8"]]},{"id":"c7b2a532.3de2a8","type":"debug","z":"61668a27.61df04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":180,"wires":[]},{"id":"be2bf5ee.6798c8","type":"function","z":"61668a27.61df04","name":"","func":"msg.payload = msg;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["c7b2a532.3de2a8","f0d152a3.3621e"]]},{"id":"37693dc.ae6fdc2","type":"http response","z":"61668a27.61df04","name":"response","statusCode":"200","headers":{},"x":720,"y":300,"wires":[]},{"id":"f0d152a3.3621e","type":"template","z":"61668a27.61df04","name":"output","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{JSON.stringify(payload)}}","output":"str","x":550,"y":300,"wires":[["37693dc.ae6fdc2"]]}]